<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to the Index Page</h1>
    <ul>
        <li><a href="{% url 'upload_csv' %}">Upload CSV</a></li>
        <li><a href="{% url 'ground_truth_list' %}">View Ground Truth</a></li>
        <li><a href="{% url 'prediction_list' %}">View Predictions</a></li>
        <li><a href="{% url 'delete_ground_truth' %}">Delete Ground Truth Table</a></li>
        <li><a href="{% url 'delete_all' %}">Delete All Tables</a></li>	
        <li><a href="{% url 'list_embedding_models' %}"> Encodding Models</a></li>
        <li><a href="{% url 'select_model' %}"> encode class</a></li>
    </ul>
</body>
</html>

